/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 740px) { 
    /* ====================== Global ====================== */
    html{
        font-size: 75%;
    }

    .d-none{
        display: none !important;
    }

    .show-menu{
        height: 100%;
        transition: all .5s;
    }

    .container{
        width: 100%;
        padding: 4rem 2rem;
    }

    body, #cardapio, #days-week, #box-galeria,
    #box-equipe, footer{
        background-size: contain;
    }

    /* ====================== Header ====================== */

    header.container{
        padding-bottom: 0;
    }

    header ul{
        flex-direction: column;
        align-items: start;
        padding: 0;
        height: 0;
    }

    header li{
        margin: 15px 0;
        width: 100%
    }

    #close-menu, #menu-mobile{
        display:flex;
    }

    #menu-mobile{
        padding-bottom: 1rem;
    }

    #close-menu{
        display:block;
    }

    #logo {
        height: 90px;
        width: 90px;

    }
      
    #logo img {
        height: 50px;
        transition: all 0.3s;
    }

    /* ====================== Titles ====================== */

    /* ====================== Banner ====================== */

    #description-banner {
        width: max(40%, 320px);
    }

    #img-titulo-banner img {
        width: max(25vw, 360px);
    }

    /* ====================== Section Cardápio ====================== */

    #cardapio{
        height: auto;
    }

    #box-cardapio {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    #box-btn-cardapio {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap
      }
      

    .btn-cardapio {
        margin-top: 12px;
        width: 100px;
    }

    .dishes-day {
        grid-template-columns: 1fr;
        padding: 0 20px 20px;
    }



/* // Dispositivos small (telefones em modo paisagem, com menos de 768px) */
/* @media (max-width: 767.98px) { ... } */
}